<!DOCTYPE HTML>
<html lang="ko">
<head>
<title>메모와 채팅을 동시에, TINC</title>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
	<link rel="stylesheet" href="../../../resource/css/chatting/chat.css" >
	<section class="wrapper"> 
		<nav class="gnb"> 
			<a href="#" title="메모장 이동">MEMO</a>
		</nav><!-- gnb end -->
		<main class="container">
			<div class="topBox">
				<div class="left">
					<button class="btn-back fas fa-chevron-left">뒤로가기</button>
				</div>
				<h1 class="title">3조방</h1>
				<!-- <div class="searchBox">
					<form action="">
						<input type="search" name="keyword" id="">
						<button type="submit" class="fas fa-search">검색</button>
						<button class="btn-up fas fa-chevron-up">위로이동</button>
						<button class="btn-down fas fa-chevron-down">아래로이동</button>
					</form>
				</div> -->
				<div class="right">
					<button class="btn-srch fas fa-search">검색하기</button>&nbsp;&nbsp;
					<button class="btn-bar fas fa-bars">메뉴</button>
					<!-- <button class="btn-close fas fa-times">닫기</button> -->
				</div>
				
			</div>
			<!-- chat-->			
			<div class="chattingBox">
				<ul class="chatting">
					<li class="member">
						<figure>
							<img src="http://placehold.it/100x100" alt="">
						</figure>
						<div class="megBox">
							<div class="name">Jessica</div>
							<ul>
								<li>
									<div class="message">
										안녕
										<span class="date">13:50</span>							
									</div>
								</li>
							</ul>
							
						</div>
						<!-- <div class="btnBox">
							<button class="btn-share"><i class="fas fa-external-link-alt">공유하기</i></button>	
						</div> -->
					</li>
					<li class="info"><div>2019년 12월 12일</div></li>
					<li class="info"><div><i class="fas fa-user-plus"></i> 회원님이 은선띠님을 초대했습니다</div></li>
					<li class="me">
						<div class="megBox">
							<ul>
								<li>
									<div class="message">
										ㅎㅇ
										<span class="date">14:50</span>
									</div>
								</li>
							</ul>							
						</div>
					</li>
					<li class="member">
						<figure>
							<img src="http://placehold.it/100x100" alt="">
						</figure>
						<div class="megBox">
							<div class="name">Jessica</div>
							<ul>
								<li>
									<div class="message imgBox">
										<img src="https://cafeptthumb-phinf.pstatic.net/20151221_149/ry2225_1450659220988LylbB_JPEG/51.jpg?type=w740" alt="">
										<span class="date">13:50</span>							
									</div>
								</li>
							</ul>							
						</div>
						<div class="btnBox">
							<button class="btn-share"><i class="fas fa-external-link-alt">공유하기</i></button>	
						</div>
					</li>
					<li class="member">
						<figure>
							<img src="http://placehold.it/100x100" alt="">
						</figure>
						<div class="megBox">
							<div class="name">Jessica</div>
							<ul>
								<li>
									<div class="message">
										별에도 봄이 패 그리워 사람들의 내 이름과, 계십니다. 별빛이 언덕 가득 가을로 계집애들의 내 까닭입니다 계 절이 소학교 차 노루, 듯합니다. 별이 멀듯이, 별 경, 지나가는 별 나는 무성 할 봅니다. 벌써 소녀들의 아무 하나 에 무덤 까닭입니다. 새겨지는 마리 아 별을 멀듯이, 밤이 이웃 있습니다. 사랑과 오면 불러 시와 지나가는 어머 니 노루, 봅니다. 흙으로 내일 않은 나 는...
										<button class="btn-all">전체보기<span>&rsaquo;</span></button>
										<span class="date">13:50</span>							
									</div>									
								</li>
							</ul>							
						</div>
						<div class="btnBox">
							<button class="btn-share"><i class="fas fa-external-link-alt">공유하기</i></button>	
						</div>
					</li>
					<li class="me">
						<div class="megBox">
							<ul>
								<li>
									<div class="message">
										ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
										<span class="date">14:50</span>
									</div>
								</li>
							</ul>							
						</div>
					</li>
				</ul>
				<div class="chatInput">
					<button class="btn-top"><i class="fas fa-arrow-up">TOP</i></button>
					<form action="">
						<button class="btn-add"><i class="fas fa-plus">채팅메뉴</i></button>
						<input type="text" class="chatInputBox">
						<button type="submit" class="btn-send fas fa-paper-plane">보내기</button>
					</form>
				</div>
			</div>
		</main><!-- container end -->
	</section><!-- wrapper end -->
	<div class="popup friendSetting" style="display:block">
		<div class="popup-wrap">
			<div class="popup-container">				
				<div class="profile">
					<figure>
						 <!-- default -->
						<!-- <i class="fas fa-user"></i> -->
						<img src="http://placehold.it/100x100" alt="">
					</figure>
					<ul>
						<li class="title">Jessica/dfdfdfdfdfddddddddddddddddddddddddddddd</li>
						<li>In a professional context it often happensIn a professional context it often happensIn a professional context it often happensIn a professional context it often happensIn a professional context it often happens</li>
					</ul>
				</div>
				<nav class="btn-area">
					<ul>
						<li>
							<a href="#" class="btn">1:1채팅</a>
							<!-- <a href="#" class="btn">친구추가</a> -->
							<a href="#" class="btn">차단</a>
						</li>
						<!--방장메뉴-->
						<li>
							<a href="#" class="btn">권한</a>
							<a href="#" class="btn">추방</a>
						</li>
					</ul>
				</nav>
				<!--방장 권한 메뉴-->
				<div class="head">
					<p class="title">권한 위임, 박탈하기</p>
					<nav class="btn-area">
						<ul>
							<li>
								<a href="#" class="btn">초대 권한</a>
								<a href="#" class="btn">방장 위임</a>
							</li>
						</ul>
					</nav>
					<a href="#" class="btn-back fas fa-chevron-left">뒤로가기</a>
					<a href="#" class="btn-close fas fa-times">닫기</a>
				</div>
				<!--// 방장 권한 메뉴-->
				<a href="#" class="btn-close fas fa-times">닫기</a>
			</div>
		</div>
	</div>
	<div class="mask" style="display:block"></div>
</body>
</html>
