@import url(../common.css);
@import url(setting.css);

#popup-change-pwd{
    margin-top: 5.938rem;
    top:0% !important;
}

.edit-pwd{
    background-color: white;
    border-radius: 1.063rem;
    -moz-border-radius: 1.063rem;
    -webkit-border-radius: 1.063rem;
    width: 16.31rem;
    height: 2.188rem;
}
.context div p {
    text-align: left;
    height: 2.188rem;
    margin-left: 0.625rem;
    margin-top: 0.6875rem;
}

#cancle-edit-pwd, #ok-edit-pwd{
    margin-top: 0.75rem;
    margin-bottom: 1.125rem;
}