@import url(../common.css);

#setting-head{
    display: flex;
    margin-top: 1rem;
}

#return {
    margin-left: 0.75rem;
    color: #b2b2b2;
}

#setting-title{
    size: 0.9375rem;
    margin-top: -0.1875rem;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
}

#setMyImg{
    text-align: center;
}

#myProfileImage{
   width: 6.875rem ;
    height: 6.875rem;
    background: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-top: 1.625rem;
    max-width: 6.875rem;
    max-height: 6.875rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

#myId{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.688rem;
    font-size: 1rem;
    width: inherit;
    color: #000000;
}
#myStatusMessage{
    display: flex;
    size: 0.8125rem;
    margin-top: 0.9375rem;
    text-align: center;
    color: #b2b2b2;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
}
#setting-edit-form{
   font-size: 0.9375rem; 
   margin-top: 1.938rem;
   margin-left: 1.938rem;
   margin-right: 1.938rem;
}
.set-line{
    height: 2.125rem;
    border-bottom: 0.0625rem solid #bcbcbc;
    width: inherit;
    line-height: 2.125rem;
}

#setting-edit-form div.onOff-button{
    width: inherit;
    size: 0.9375rem; 
    margin-left: 2.813rem;
}
#setting-edit-pwd, #setting-secession{
    text-align: left;
}

#settingEditEmail, #settingEditPhone{
    float: right;
    text-align: right;
    vertical-align: middle;
    width: 12rem;
}

#set-logout{
    color: rgb(255, 060, 047) !important;
    line-height: 2.125rem;
}

/*----------checkbox �꽕�젙-------------------------*/
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    display: inline-block;
    width: 2.5rem;
    height: 1.25rem;
    position: relative;
    transition: 0.3s;
    box-sizing: border-box;
    vertical-align: middle;
    margin-bottom: 0.3125rem; 
}
input[type="checkbox"] + label:after, input[type="checkbox"] + label:before {
    content: '';
    /* display: block; */
    position: absolute;
    transition: 0.3s;
    cursor: pointer;
}
.set-checkbox:checked + label.set-check {
    background: rgb(002, 210, 081);
    /* -moz-box-shadow:inset 0px 0px 10px rgb(136, 136, 136);
    -webkit-box-shadow:inset 0px 0px 10px rgb(136, 136, 136);
    box-shadow:inset 0px 0px 10px rgb(136, 136, 136);  �궡遺� 洹몃┝�옄 */
}
.set-checkbox:checked + label.set-check:after {
    background: #ffff;
}
.set-checkbox:checked + label:after {
    left: calc(100% - 1.125rem);
}
.set-checkbox + label {
    background: #b2b2b2;
    border-radius:  1.25rem;
}
.set-checkbox + label:after {
    background: #fff;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    top: 0.125rem;
    left: 0.125rem;
}
div.open-set-checkbox{
    display: inline;
    float: right;
}
/*-----------------------------------------------*/

a { text-decoration:none ; color:#000000}

/*---withdraw--------------------------------------*/
#withdrawA2{
    display: none;
}

#withdraw-cancle, #withdraw-ok{
    margin-top : 0.625rem;
    margin-bottom: 1.188rem;
}

.withdraw-pwd{
    background-color: white;
    border-radius: 1.063rem;
    -moz-border-radius: 1.063rem;
    -webkit-border-radius: 1.063rem;
    width: calc(100% - 0.921875rem);
    height: 2.188rem;
    margin-top: 1.125rem;
    box-sizing: border-box;
    padding: 0 0.625rem;
}
#withdraw-ask2{
    display: none;
}

/*---logout--------------------------------------*/
#logout-cancle, #logout-ok{
    margin-top :  0.625rem;
    /* margin-bottom: 19px; */
}

/*---change-pwd--------------------------------------*/
#popup-change-pwd{
    margin-top: 5.938rem;
    top:0% !important;
}

.edit-pwd{
    background-color: white;
    border-radius: 1.063rem;
    -moz-border-radius: 1.063rem;
    -webkit-border-radius: 1.063rem;
    width: calc(100% - 0.765625rem);
    height: 2.188rem;
    box-sizing: border-box;
    padding: 0 0.625rem;
}
.context div p {
    text-align: left;
    height: 2.188rem;
    margin-left: 0.625rem;
    margin-top: 0.6875rem;
}

#cancle-edit-pwd, #ok-edit-pwd{
    margin-top: 0.75rem;
    margin-bottom: 1.125rem;
}