div.bottombutton {
   min-width: 320px;
   display: flex;
   background: rgb(255, 255, 255);
}

.bottombutton .btnAlign {
   position: relative;
   width: 100%;
}

.bottombutton .btnBackGround {
   width: 100%;
   position: fixed;
   height: 50px;
   /* border: 1px solid; */
   background: rgb(150, 150, 150);
   bottom: 0;
}

.bottombutton .btn {
   width: 33.33333%;
   position: fixed;
   text-align: center;
   height: 50px;
   /* border: 1px solid; */
   background: rgb(236, 234, 255);
   bottom: 0;
}

.bottombutton .btn:before {
   content: "";
   display: inline-block;
   width: 1px;
   height: 100%;
   vertical-align: middle;
}

.bottombutton .btn:hover {
   cursor: pointer;
}

.bottombutton .btn:active {
   border-left: 1px;
   border-color: rgba(0, 0, 0, 0);
   border-style: solid;
   bottom: -2px;
   height: 52px;
}

.bottombutton .btn .fas {
   /* vertical-align: middle; */
   display: inline-block;
   vertical-align: middle;
   transform: scale(1.4);
}

.bottombutton .targetBtn {
   background: rgb(115, 103, 241);
}
