<!DOCTYPE HTML>
<html lang="ko">
<head>
<title>메모와 채팅을 동시에, TINC</title>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="../../../resource/css/common.css" >
<link rel="stylesheet" href="../../../resource/css/bottombutton.css">
<link rel="stylesheet" href="../../../resource/css/member/member.css" >
</head>
<body>
   <section class="wrapper"> 
      <nav class="gnb"> 
         <a href="#" title="메모장 이동">MEMO</a>
      </nav><!-- gnb end -->
      <main class="container friend-list">
         <form>
         <div class="menu">
         	<span class="left"></span>
            <span class="center">친구</span>
            <span class="right"><i class="fas fa-bars"></i></span>
         </div>
         
         <div class="friend">
	         <div class="box inline">  
	         	<img src="../../../resource/images/1.png" alt="image1" class="profile">
	         </div>
         	<div class="inline">
	         	<p><b>배정윤</b></p>
	         	<p>인투디언노온</p>
         	</div>
         </div>
	     <hr>
	     <p class="list-count">친구 10</p>
	     
	     <div class="list">
	     <div class="friend">
	         <div class="box inline">  
	         	<img src="../../../resource/images/4.png" alt="image1" class="profile">
	         </div>
         	<div class="inline">
	         	<p><b>Jessica</b></p>
	         	<p>오직 한가지 간직하고 있는건</p>
         	</div>
         </div>
         <div class="friend">
	         <div class="box inline">  
	         	<img src="../../../resource/images/10.png" alt="image1" class="profile">
	         </div>
         	<div class="inline">
	         	<p><b>응또니</b></p>
	         	<p>지금껏 그려왔던 작은 꿈</p>
         	</div>
         </div>
         <div class="friend">
	         <div class="box inline">  
	         	<img src="../../../resource/images/2.png" alt="image1" class="profile">
	         </div>
         	<div class="inline">
	         	<p><b>ST기</b></p>
	         	<p>어떻게 보일까? 나 어릴적 함께한 너에게</p>
         	</div>
         </div>
         <div class="friend">
	         <div class="box inline">  
	         	<img src="../../../resource/images/6.png" alt="image1" class="profile">
	         </div>
         	<div class="inline">
	         	<p><b>Hoseop, Kim</b></p>
	         	<p>저 하늘을 봐</p>
         	</div>
         </div>
         <div class="friend">
	         <div class="box inline">  
	         	<img src="../../../resource/images/7.png" alt="image1" class="profile">
	         </div>
         	<div class="inline">
	         	<p><b>루나</b></p>
	         	<p>서로 멀리 있어도 함께할 수 있어</p>
         	</div>
         </div>
          <div class="friend">
	         <div class="box inline">  
	         	<img src="../../../resource/images/8.png" alt="image1" class="profile">
	         </div>
         	<div class="inline">
	         	<p><b>타토</b></p>
	         	<p>나 너에게 언제나 빛나는 둥근달처럼</p>
         	</div>
         </div>
          <div class="friend">
	         <div class="box inline">  
	         	<img src="../../../resource/images/9.png" alt="image1" class="profile">
	         </div>
         	<div class="inline">
	         	<p><b>멜로니</b></p>
	         	<p>너를 기다리고 있을게</p>
         	</div>
         </div>
		 </div>
		 <div class="bottombutton">
			<button class="btn on">
				<!-- <i class="fas fa-user">친구목록</i>  -->
				<i class="fas fa-user-plus">친구추가</i>
			</button>
			<button class="btn">
				<i class="fas fa-comments">채팅목록</i> 
				<!-- <span class="btn-chatadd">
					<span class="hidden">채팅추가</span>
					<i class="fas fa-comments"></i>
					<i class="fas fa-plus"></i>
				</span> -->
			</button>
			<button class="btn">
				<i class="fas fa-cog">설정</i>
			</button>
		</div>
	     
	    <!--  <p class="no-friend">아래의 친구 추가를<br>눌러 친구를 추가해 보세요.</p> -->
         </form>
         
      </main><!-- container end -->
   </section><!-- wrapper end -->
   <div class="popup alert">
      <div class="popup-wrap">
         <div class="context">
            <p>회원가입이 완료되었습니다.</p>
         </div>
         <div class="btn-area">
            <a href="#" class="btn">취소</a>
            <a href="#" class="btn">확인</a>
         </div>
         <a href="#" class="btn-close">닫기</a>
      </div>
   </div>
   <div class="mask"></div>
</body>
</html>