
	<link rel="stylesheet" href="../../../../resource/css/chatting/chat.css" >
	<section class="wrapper"> 
		<nav class="gnb"> 
			<a href="#" title="메모장 이동">MEMO</a>
		</nav><!-- gnb end -->
		<main class="container">
			<div class="topBox">
				<div class="left">
					<!-- <button class="btn-back fas fa-chevron-left">뒤로가기</button> -->
				</div>
				<h1 class="title">채팅</h1>
				<!-- <div class="searchBox">
					<form action="">
						<input type="search" name="keyword" id="">
						<button type="submit" class="fas fa-search">검색</button>
						<button class="btn-up fas fa-chevron-up">위로이동</button>
						<button class="btn-down fas fa-chevron-down">아래로이동</button>
					</form>
				</div> -->
				<div class="right">
					<!-- <button class="btn-srch fas fa-search">검색하기</button>&nbsp;&nbsp; -->
					<button class="btn-bar fas fa-bars">메뉴</button>
					<!-- <button class="btn-close fas fa-times">닫기</button> -->
				</div>
				
			</div>
			<!-- chatlist -->
			<ul class="chatList">
				<!--  리스트가 없을 시  -->
				<!-- <li class="nolist">
					아직 채팅방이 없습니다.<br>
					아래의 채팅방 추가를 눌러<br>
					채팅방을 만들어 보세요.				
				</li> -->
				<!--  1:1채팅 사진 미설정 시 -->
				 <li>
					<a href="">
						<figure>
							<i class="fas fa-user"></i>
						</figure>
						<ul>
							<li class="title">Jessica/dfdfdfdfdfddddddddddddddddddddddddddddd</li>
							<li>In a professional context it often happensIn a professional context it often happensIn a professional context it often happensIn a professional context it often happensIn a professional context it often happens</li>
						</ul>
					</a>					
				</li> 
				<!--  1:1 채팅 -->
				 <li>
					<a href="">
						<figure>
							<img src="http://placehold.it/100x100" alt="">
						</figure>
						<ul>
							<li class="title">김모씨</li>
							<li>In a professional context it often happens</li>
						</ul>
					</a>
				</li> 
				<!-- 그룹 채팅 -->
				<li>
					<a href="">
						<figure>
							<i class="fas fa-users"></i>
						</figure>
						<ul>
							<li class="title">3조</li>
							<li>In a professional context it often happens</li>
						</ul>
					</a>
				</li>
				
			</ul>
			<button class="btn-top"><i class="fas fa-arrow-up">TOP</i></button>
		</main><!-- container end -->
	</section><!-- wrapper end -->
	<div class="popup alert">
		<div class="popup-wrap">
			<div class="context">
				<p>일반 팝업창입니다.</p>
			</div>
			<div class="btn-area">
				<a href="#" class="btn">취소</a>
				<a href="#" class="btn">확인</a>
			</div>
			<a href="#" class="btn-close">닫기</a>
		</div>
	</div>
	<div class="mask"></div>
