<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Document</title>
   </head>
   <body>
      <link rel="stylesheet" href="../../resource/css/sample.css" />
      <link rel="stylesheet" href="../../resource/css/bottombutton.css" />

      <div class="bottombutton">
         <span class="btnAlign">
            <div class="btnBackGround"></div>
         </span>
      </div>

      <div class="bottombutton">
         <span class="btnAlign">
            <div class="btn">
               <i class="fas fa-user"></i>
            </div>

            <div class="btn targetBtn">
               <i class="fas fa-user-plus"></i>
            </div>
         </span>

         <span class="btnAlign">
            <div class="btn">
               <i class="fas fa-comments"></i>
            </div>

            <div class="btn targetBtn">
               <i class="fas fa-comments"></i><i class="fas fa-plus"></i>
            </div>
         </span>

         <span class="btnAlign">
            <div class="btn">
               <i class="fas fa-cog"></i>
            </div>

            <div class="btn targetBtn">
               <i class="fas fa-cog"></i>
            </div>
         </span>
      </div>
   </body>
</html>
