<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Document</title>
   </head>
   <body>
      <link rel="stylesheet" href="../../resource/css/common.css" />
      <link rel="stylesheet" href="../../resource/css/bottombutton.css" />
		<!-- 우근씨 미안요 -->
      <div class="bottombutton">
      	<button class="btn">
      		<i class="fas fa-user">친구목록</i> 
      		<!-- <i class="fas fa-user-plus">친구추가</i>-->
      	</button>
      	<button class="btn on">
      		<!-- <i class="fas fa-comments">채팅목록</i> -->
      		<span class="btn-chatadd">
      			<span class="hidden">채팅추가</span>
      			<i class="fas fa-comments"></i>
      			<i class="fas fa-plus"></i>
      		</span>
      	</button>
      	<button class="btn">
      		<i class="fas fa-cog">설정</i>
      	</button>
      </div>
   </body>
</html>
