<!DOCTYPE HTML>
<html lang="ko">
<head>
<title>메모와 채팅을 동시에, TINC</title>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="stylesheet" href="../../../resource/css/common.css" >
<link rel="stylesheet" href="../../../resource/css/bottombutton.css">
<link rel="stylesheet" href="../../../resource/css/member/member.css" >
</head>
<body>
   <section class="wrapper"> 
      <nav class="gnb"> 
         <a href="#" title="메모장 이동">MEMO</a>
      </nav><!-- gnb end -->
      <main class="container friend-add">
         <form>
	         <div class="menu">
	         	<span class="left"><i class="fas fa-chevron-left"></i></span>
	            <span class="center">친구 추가</span>
	            <span class="right"><i class="fas fa-times"></i></span>
	         </div>
	         
	         <div class="inline">
	         	<input type="text" value=""  placeholder="이름"/>
	         	<button type="submit" class="fas fa-search"></button>
	         </div>

	         <div class="add-list">
	         	<div class="flex friend">
		        	<div class="box">  
		         		<img src="../../../resource/images/5.png" alt="image1" class="profile">
		        	</div>
		         	<div class="child-flex">
			         	<p>배정윤</p>
			         	<p>인투디언노온</p>
		         	</div>
		         	<div class="child-flex">
			         	<input type="button" class="find-btn" value="친구 추가"/>
		         	</div>
	         	</div>
	         	<div class="flex friend">
		        	<div class="box">  
		         		<img src="../../../resource/images/3.png" alt="image1" class="profile">
		         	</div>
	         		<div class="child-flex">
			         	<p>배정윤</p>
			         	<p>인투디언노온</p>
	         		</div>
		         	<div class="child-flex">
			         	<input type="button" class="find-btn" value="친구 추가"/>
		         	</div>
	         	</div>
	    
	         	<div class="flex friend">
		        	<div class="box">  
		         		<img src="../../../resource/images/8.png" alt="image1" class="profile">
		         	</div>
	            	<div class="child-flex">
			         	<p>타토</p>
			         	<p>루나바보</p>
	         		</div>
		         	<div class="child-flex">
			         	<input type="button" class="find-btn" value="친구 추가"/>
		         	</div>
	        	</div>
	         	<div class="flex friend">
		        	<div class="box">  
		         		<img src="../../../resource/images/9.png" alt="image1" class="profile">
		         	</div>
		         	<div class="child-flex">
			         	<p>멜로니</p>
			         	<p>타토바보</p>
		         	</div>
		         	<div class="child-flex">
			         	<input type="button" class="find-btn" value="친구 추가"/>
		         	</div>
				 </div>
				 
	        	<div class="flex friend">
			        <div class="box">  
			         	<img src="../../../resource/images/7.png" alt="image1" class="profile">
			        </div>
		         	<div class="child-flex">
			         	<p>루나</p>
			         	<p>멜로니바보</p>
		         	</div>
		         	<div class="child-flex">
			         	<input type="button" class="find-btn" value="친구 추가"/>
		         	</div>
	         	</div>
	         </div>
			<!--  <p class="no-friend">아래의 친구 추가를<br>눌러 친구를 추가해 보세요.</p> -->
			<div class="bottombutton">
				<button class="btn on">
					<!-- <i class="fas fa-user">친구목록</i>  -->
					<i class="fas fa-user-plus">친구추가</i>
				</button>
				<button class="btn">
					<i class="fas fa-comments">채팅목록</i> 
					<!-- <span class="btn-chatadd">
						<span class="hidden">채팅추가</span>
						<i class="fas fa-comments"></i>
						<i class="fas fa-plus"></i>
					</span> -->
				</button>
				<button class="btn">
					<i class="fas fa-cog">설정</i>
				</button>
			</div>
         </form>
      </main><!-- container end -->
   </section><!-- wrapper end -->
   <div class="popup alert">
      <div class="popup-wrap">
         <div class="context">
            <p>회원가입이 완료되었습니다.</p>
         </div>
         <div class="btn-area">
            <a href="#" class="btn">취소</a>
            <a href="#" class="btn">확인</a>
         </div>
         <a href="#" class="btn-close">닫기</a>
      </div>
   </div>
   <div class="mask"></div>
</body>
</html>