<!DOCTYPE html>
<html lang="ko">

<head>
    <title>메모와 채팅을 동시에, TINC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../resource/css/common.css" />
    <link rel="stylesheet" href="../../../resource/css/memo/memo-share.css" />
</head>

<body>
    <section class="wrapper">
        <div class="memo-share-visual">
            <div>
                <i class="fas fa-paper-plane"></i>
            </div>
        </div>
        <div class="memo-share-content">
            <ul class="memo-share-list">
                <li>
                    <div class="memo-share-list-pic-wrapper">
                        <div class="memo-share-list-pic">
                            <img src="../../../resource/images/photo1.jpg">
                        </div>
                    </div>
                    <div class="memo-share-list-content">
                        <div>
                            <input type="text" name="memo-share-list-content-top" value="Hoseop,Kim">
                        </div>
                        <div>
                            <input type="text" name="memo-share-list-content-bottom" value="어떻게 보일까 나 어릴적 함계한 너에게">
                        </div>
                    </div>
                    <div class="memo-share-list-check-wrapper">
                        <input id="memo-share-list-checkbox" type="checkbox" name="memo-share-list-checkbox">
                    </div>
                </li>
                <li>
                    <div class="memo-share-list-pic-wrapper">
                        <div class="memo-share-list-pic">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <div class="memo-share-list-content">
                        <div>
                            <input type="text" name="memo-share-list-content-top" value="3조">
                        </div>
                        <div>
                            <input type="text" name="memo-share-list-content-bottom" value="이 페이지 누가하나요 화이팅">
                        </div>
                    </div>
                    <div class="memo-share-list-check-wrapper">
                        <input id="memo-share-list-checkbox" type="checkbox" name="memo-share-list-checkbox">
                    </div>
                </li>
                <li>
                    <div class="memo-share-list-pic-wrapper">
                        <div class="memo-share-list-pic">
                            <img src="../../../resource/images/photo1.jpg">
                        </div>
                    </div>
                    <div class="memo-share-list-content">
                        <div>
                            <input type="text" name="memo-share-list-content-top" value="Hoseop,Kim">
                        </div>
                        <div>
                            <input type="text" name="memo-share-list-content-bottom" value="어떻게 보일까 나 어릴적 함계한 너에게">
                        </div>
                    </div>
                    <div class="memo-share-list-check-wrapper">
                        <input id="memo-share-list-checkbox" type="checkbox" name="memo-share-list-checkbox">
                    </div>
                </li>
                <li>
                    <div class="memo-share-list-pic-wrapper">
                        <div class="memo-share-list-pic">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <div class="memo-share-list-content">
                        <div>
                            <input type="text" name="memo-share-list-content-top" value="3조">
                        </div>
                        <div>
                            <input type="text" name="memo-share-list-content-bottom" value="이 페이지 누가하나요 화이팅">
                        </div>
                    </div>
                    <div class="memo-share-list-check-wrapper">
                        <input id="memo-share-list-checkbox" type="checkbox" name="memo-share-list-checkbox">
                    </div>
                </li>
                <li>
                    <div class="memo-share-list-pic-wrapper">
                        <div class="memo-share-list-pic">
                            <img src="../../../resource/images/photo1.jpg">
                        </div>
                    </div>
                    <div class="memo-share-list-content">
                        <div>
                            <input type="text" name="memo-share-list-content-top" value="Hoseop,Kim">
                        </div>
                        <div>
                            <input type="text" name="memo-share-list-content-bottom" value="어떻게 보일까 나 어릴적 함계한 너에게">
                        </div>
                    </div>
                    <div class="memo-share-list-check-wrapper">
                        <input id="memo-share-list-checkbox" type="checkbox" name="memo-share-list-checkbox">
                    </div>
                </li>
                <li>
                    <div class="memo-share-list-pic-wrapper">
                        <div class="memo-share-list-pic">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <div class="memo-share-list-content">
                        <div>
                            <input type="text" name="memo-share-list-content-top" value="3조">
                        </div>
                        <div>
                            <input type="text" name="memo-share-list-content-bottom" value="이 페이지 누가하나요 화이팅">
                        </div>
                    </div>
                    <div class="memo-share-list-check-wrapper">
                        <input id="memo-share-list-checkbox" type="checkbox" name="memo-share-list-checkbox">
                    </div>
                </li>
                <li>
                    <div class="memo-share-list-pic-wrapper">
                        <div class="memo-share-list-pic">
                            <img src="../../../resource/images/photo1.jpg">
                        </div>
                    </div>
                    <div class="memo-share-list-content">
                        <div>
                            <input type="text" name="memo-share-list-content-top" value="Hoseop,Kim">
                        </div>
                        <div>
                            <input type="text" name="memo-share-list-content-bottom" value="어떻게 보일까 나 어릴적 함계한 너에게">
                        </div>
                    </div>
                    <div class="memo-share-list-check-wrapper">
                        <input id="memo-share-list-checkbox" type="checkbox" name="memo-share-list-checkbox">
                    </div>
                </li>
                <li>
                    <div class="memo-share-list-pic-wrapper">
                        <div class="memo-share-list-pic">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <div class="memo-share-list-content">
                        <div>
                            <input type="text" name="memo-share-list-content-top" value="3조">
                        </div>
                        <div>
                            <input type="text" name="memo-share-list-content-bottom" value="이 페이지 누가하나요 화이팅">
                        </div>
                    </div>
                    <div class="memo-share-list-check-wrapper">
                        <input id="memo-share-list-checkbox" type="checkbox" name="memo-share-list-checkbox">
                    </div>
                </li>

            </ul>
        </div>
        <div class="memo-share-button-wrapper">
            <div>
                <i class="far fa-user"></i>
            </div>
            <div>
                <i class="far fa-comments"></i>
            </div>
        </div>
    </section>
    <!-- wrapper end -->

</body>

</html>