<!DOCTYPE html>
<html lang="ko">

<head>
    <title>메모와 채팅을 동시에, TINC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../../resource/css/common.css" />
    <link rel="stylesheet" href="../../../resource/css/memo/memo-detail.css" />
    <link rel="stylesheet" href="../../../resource/css/memo/memo-checklist.css" />
    <link rel="stylesheet" href="../../../resource/css/memo/memo-duedate.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../../resource/js/memo/memo-duedate.js"></script>
    <script src="../../../resource/js/memo/memo-detail.js"></script>
    <script src="../../../resource/js/memo/memo-checklist.js"></script>
</head>

<body>
    <section class="wrapper">
        <div class="memo-detail-menu">
            <div class="close-button-wrapper"><i id="memo-detail-close-icon" class="fas fa-times"></i></div>
        </div>
        <div class="memo-detail-title">
            <input readonly class="memo-detail-title-text" type="text" value="제목">
        </div>
        <div class="memo-detail-content">
            <textarea readonly class="memo-detail-content-textarea" name="memo-detail-content-textarea">
                이 마음 한편 호젓한 그늘에
                장미가 핀다.

                밤은 어둡지 않고
                별은 멀지 않다.
                장미는 밤에도 자지 않는다.
            </textarea>
            <div class="memo-checklist-wrapper">
                <ul class="memo-checklist">
                    <li class="memo-checklist-title">
                        <div>
                            <i class="far fa-check-square"></i><span>checklist</span>
                        </div>
                        <div>
                            <i class="fas fa-ellipsis-h"></i><i class="fas fa-chevron-up"></i>
                        </div>
                    </li>
                    <li>
                        <ul class="memo-checklist-item-list">
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-check-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="1. 치킨 먹는날">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-check-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="2.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="3.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="4.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="5.">
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="memo-checklist">
                    <li class="memo-checklist-title">
                        <div>
                            <i class="far fa-check-square"></i><span>checklist</span>
                        </div>
                        <div>
                            <i class="fas fa-ellipsis-h"></i><i class="fas fa-chevron-up"></i>
                        </div>
                    </li>
                    <li>
                        <ul class="memo-checklist-item-list">
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-check-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="1.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-check-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="2.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="3.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="4.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-square"></i>
                                </label>
                                <label class="checklist-item-add"><i class="fas fa-plus"></i><span>add</span></label>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="memo-checklist">
                    <li class="memo-checklist-title">
                        <div>
                            <i class="far fa-check-square"></i><span>checklist</span>
                        </div>
                        <div>
                            <i class="fas fa-ellipsis-h"></i><i class="fas fa-chevron-down"></i>
                        </div>
                    </li>
                    <li style="display:none; height:0;">
                        <ul class="memo-checklist-item-list">
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-check-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="1.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-check-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="2.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="3.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="4.">
                            </li>
                            <li>
                                <input type="checkbox" id="checklist-item-checkbox" name="checklist-item-checkbox"
                                    value="">
                                <label for="checklist-item-checkbox">
                                    <i class="far fa-square"></i>
                                </label>
                                <input type="text" name="checklist-item-content" value="5.">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="memo-detail-share">
            <input type="button" class="memo-detail-share-button" value="공유하기">
        </div>
        <div class="memo-detail-checklist">
            <input type="button" class="memo-detail-checklist-button" value="체크리스트">
        </div>
        <div class="memo-detail-duedate">
            <input type="button" class="memo-detail-duedate-button" value="DueDate">
            <span>&nbsp;<i class="far fa-check-square"></i>&nbsp;&nbsp;2019/12/31 12:53&nbsp;</span>
        </div>
        <div class="memo-detail-delete">
            <input type="button" class="memo-detail-delete-button" value="삭제하기">
        </div>

    </section>
    <!-- wrapper end -->

    <div class="popup" style="display:block">
        <div class="memo-delete-popup popup-wrap"
            style="width: 290px; left: 50%; transform: translate(-50%, 0); display: none;">
            <div class="popup-container">
                <div class="context">
                    <p>삭제하시겠습니까?</p>
                </div><!-- context -->
                <div class="btn-area">
                    <a href="#" class="cancel-btn btn">취소</a>
                    <a href="#" class="ok-btn btn">확인</a>
                </div>
                <a href="#" class="btn-close fas fa-times">닫기</a>
            </div><!-- popup-container -->
        </div><!-- popup-wrap -->

        <div class="memo-duedate-popup popup-wrap" style="display: block;">
            <div class="popup-container">
                <div class="context">
                    <p>Due Date</p>
                </div><!-- context -->
                <div class="memo-duedate-container">
                    <!-- days -->
                    <div></div>
                    <!-- Months -->
                    <div></div>
                    <!-- Years -->
                    <div></div>
                    <!-- Hours -->
                    <div></div>
                    <!-- Mins -->
                    <div></div>
                </div>
                <div class="memo-duedate-btn-area btn-area">
                    <a href="#" class="cancel-btn btn">취소</a>
                    <a href="#" class="ok-btn btn">확인</a>
                </div>
                <a href="#" class="btn-close fas fa-times">닫기</a>
            </div><!-- popup-container -->
        </div><!-- popup-wrap -->

        <div class="memo-checklist-setting-popup popup-wrap" style="display: none;">
            <div class="popup-container">
                <div class="context">
                    <p>체크리스트 설정</p>
                </div><!-- context -->
                <div class="memo-checklist-setting-btn-area btn-area">
                    <a href="#" class="cancel-btn btn">완료시 숨김</a>
                    <a href="#" class="ok-btn btn">삭제</a>
                </div>
                <a href="#" class="btn-close fas fa-times">닫기</a>
            </div><!-- popup-container -->
        </div><!-- popup-wrap -->
    </div><!-- popup -->

    <div class="mask" style="display:block; position: fixed;"></div>

</html>